---
const navItems = [
  {
    title: "Docs",
    label: "docs",
    url: "docs",
  },
  {
    title: "GitHub",
    label: "gitHub",
    url: "https://github.com/JaSsT20/Avatar-The-Last-Airbender-API",
  },
  {
    title: "Buy me a coffee",
    label: "buy-me-a-coffee",
    url: "https://www.buymeacoffee.com/sirlevid",
  },
];
---

<nav
  class="max-w-screen-sm flex flex-wrap items-center justify-between mx-auto p-4"
>
  <a href="/">
    <img src="/logo.webp" class="size-10" alt="CodeLevsLogo" />
  </a>
  <div class="flex items-center space-x-4">
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </div>
</nav>
